:root{
    --color-primary: #595153;
    --color-secondary: #9FBFBF;
    --color-accent: #592507;
    --color-background: #F2A97E;
    --color-text: #F28585;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none; 
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    top: 0;
    position: fixed;
    width: 100vw;
    height: 15vh;
    background-color: var(--color-background);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar img{
    height: 140%;;
}

.contenedorLista{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.lista_navbar{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2.5%;
    justify-content: center;
}

.categoria_lista:hover{
    cursor: pointer;
    font-size: 25px;
}

.categoria_lista{
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 1%;
    font-size: 20px;
}


.galery{
    width: 100%;
    height: 92vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-size: cover;
}

.contenedorGalery{
   display: flex;
   align-items: center;
   justify-content: center;
   background-size: cover;
}

.contenedorGalery:hover{
    background-size: 130%;
    background-position: 50% 20%;
}

.g1{
    background-image: url(../Images/comida/torta1.jpeg);
}

.g2{
    background-image: url(../Images/comida/torta2.jpeg);
}
.g3{
    background-image: url(../Images/comida/torta3.jpeg);
}

.galeryButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 30%;
    border-radius: 2%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 30px;
    text-align: center;
    opacity: 0%;
}

.galeryButton.active{
    opacity: 1;
}

.filtroGalery{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
}

.filtroGalery:hover{
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}



footer{
    height: 8vh;
    width: 100%;
    background-color: var(--color-accent);
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    justify-content: center;
    font-size: 10px;

}

a{
    color: white;
    text-decoration: none;
    user-select: none; 
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: white; 
}

footer h1{
    color: white;
}